[Unit]
Description=Dropbox as a system service
After=network.target  # Or other dependencies like graphical.target if needed

[Service]
ExecStart=/home/eric/.dropbox-dist/dropboxd  # Adjust the path if needed
User=eric
#Environment=LANG=en_US.utf-8  # Might be unnecessary, systemd sets locale

[Install]
WantedBy=multi-user.target
