configuration {
    modi: "drun,run,window";
    font: "CaskaydiaCove Nerd Font 12";
    show-icons: true;
    icon-theme: "Tokyonight-Dark";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Window";
    drun-display-format: "{name}";
    window-format: "{w} · {c} · {t}";
}

@theme "tokyo-night"