/* Tokyo Night theme for wofi */

* {
    color: #ffffff;
}

window {
    margin: 0px;
    border: 2px solid #414868;
    background-color: #1a1b26;
    border-radius: 10px;
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 14px;
    color: #ffffff;
}

#input {
    margin: 10px;
    border: 2px solid #414868;
    color: #ffffff;
    background-color: #24283b;
    border-radius: 6px;
    padding: 8px;
}

#input:focus {
    border-color: #7aa2f7;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry {
    background-color: transparent;
    margin: 2px;
    padding: 8px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #414868;
}

#entry:hover {
    background-color: #24283b;
}

#entry:selected #text {
    color: #ffffff;
}

#entry #text {
    color: #ffffff;
}

#entry:selected #entry {
    background-color: #414868;
}

image {
    color: #ffffff;
    background-color: transparent;
}

#entry image {
    color: #ffffff;
    background-color: transparent;
}