* {
    border: none;
    border-radius: 0;
    font-family: "CaskaydiaCove Nerd Font", sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.9);
    border-bottom: 3px solid rgba(125, 207, 255, 0.5);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a9b1d6;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #7aa2f7;
    border-bottom: 3px solid #c0caf5;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

/* Add colors to modules */
#clock {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #7dcfff;
}

#battery {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #e0af68;
}

#cpu {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #9ece6a;
}

#memory {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #bb9af7;
}

#temperature {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #ff9e64;
}

#backlight {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #e0af68;
}

#network {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #7aa2f7;
}

#pulseaudio {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #f7768e;
}

#bluetooth {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #7dcfff;
}

#tray {
    padding: 0 10px;
    background-color: #24283b;
}

#custom-power {
    padding: 0 10px;
    color: #1a1b26;
    background-color: #f7768e;
}

#window {
    margin: 0 4px;
}

#battery.charging, #battery.plugged {
    color: #1a1b26;
    background-color: #9ece6a;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #1a1b26;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #1a1b26;
    }
}

#network.disconnected {
    background-color: #f7768e;
}

#pulseaudio.muted {
    background-color: #565f89;
    color: #9aa5ce;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f7768e;
}